body {
  background-color: azure;
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  background-color: aquamarine;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
  color: brown;
  text-align: center;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}
.content {
  text-align: center;
}
.top-nav {
  margin-top: 50px;
}
.button {
  border: none;
  size: 20px;
  padding: 10px;
  font-size: larger;
}
button:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: brown;
}
.active {
  background-color: darkgray;
}
